.home-container {
    padding: 17px 10px 17px 10px;
    font-size: 36px;
    border: 1px solid red;
    text-align: center;
}

.home-content-image-container {
    display: none;
}

.home-login-container {
    /* border: 1px solid green; */
    padding: 0px 17px 100px 17px;
    /* padding top is not from button to password field */
}

.home-login-container h1 {
    font-size: 1em;
    font-weight: 400;
}

.home-card {
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    background-color: #6C6C6C;

}

/* .home-content-image-container {
    padding: 0 15px; aula 7-20
} */

.home-content-image-container p {
    width: 260px;
    font-size: 0.6em;
}

@media (min-width: 576px) {
    .home-container {
        padding: 40px 48px 182px 48px;
        font-size: 48px;
    }

    .home-login-container {
        padding: 0px 17px 133px 17px;
    }
}

@media (min-width: 768px) {
    .home-container {
        padding: 40px 144px 304px 145px;
    }

    .home-login-container {
        padding: 0px 17px 133px 17px;
    }
}

@media (min-width: 1200px) {
    .home-content-image-container svg {
        width: 100%;
        /* width TBC */
    }
}

/* .home-content-image-container h1 {
    verificar o que isso aqui estava fazendo +- aula 7-21
} */

/* .home-content-image-container svg {
    width: 100%; aula 7-20
    height: auto;
} */

/* @media (min-width: 1200px) {
    .home-card {
        display: flex;
    }

    .home-content-image-container {
        display: block;
        display: inline;
        border: 1px solid blue;
    }
} */