.login-card {
    display:inline-block;
    padding-top: 60px;
}

.login-card h1 {
    padding-bottom: 25px;
    font-size: 1em;
}

.alert-css {
    font-size: 0.4444em;
}


.login-card form {
    margin-top: 20px;
}

.base-input {
    width: 260px;
    height: 47px;
    color: #263238;
    font-size: 0.4444em;
}

@media (min-width: 576px) {
    .login-card {
        padding-top: 74px;
    }

    .login-card h1 {
        padding-bottom: 0px;
    }

    .login-card form {
        margin-top: 35px;
    }

    .base-input {
        width: 384px;
        height: 47px;
    }
}