
.movie-list-container {
    padding: 12px 0px 0px 15px;
    font-size: 24px;
}

.movie-list-container h1 {
    margin-bottom: 45px;
    font-size: 1em;
}

.movie-list-container a {
    font-size: 18px;
}

.links-container {
    padding-left: 3px;
}

.first-movie-link {
    margin-bottom: 12px;
}


@media (min-width: 576px) {
    .movie-list-container {
        padding: 18px 0px 0px 18px;
        font-size: 30px;
    }
    
    .movie-list-container h1 {
        margin-bottom: 45px;
        font-size: 1em;
    }
    
    .movie-list-container a {
        font-size: 20px;
    }
    
    .first-movie-link {
        margin-bottom: 14px;
    }
}

@media (min-width: 768px) {
    .movie-list-container {
        padding: 30px 0px 0px 30px;
        font-size: 36px;
    }
    
    .movie-list-container h1 {
        margin-bottom: 45px;
        font-size: 1em;
    }
    
    .movie-list-container a {
        font-size: 22px;
    }

    .links-container {
        padding-left: 4px;
    }
    
    .first-movie-link {
        margin-bottom: 18px;
    }
}

@media (min-width: 1200px) {
    .movie-list-container {
        padding: 40px 0px 0px 40px;
        font-size: 48px;
    }
    
    .movie-list-container h1 {
        margin-bottom: 45px;
        font-size: 1em;
    }
    
    .movie-list-container a {
        font-size: 24px;
    }

    .links-container {
        padding-left: 5px;
    }
    
    .first-movie-link {
        margin-bottom: 15px;
    }
}